@model List<SelectListItem>
@{
    ViewBag.Title = "Index";
}

<h2>Dodavanje komandi</h2>

@using (Html.BeginForm("Index", "Komanda", FormMethod.Post))
{
    @Html.DropDownList("vrstaKomande", Model)

    <input type="submit" value="Dodaj komandu"/>
}
